body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(Images/25.jpg);
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    
}
.main{
    text-align: center;
}
h1{
    background-color: aquamarine;
    border-radius: 10px;
}
p{
    text-align:justify ;
}
img{
    max-width: 50%;
    height: auto;
    border-radius: 10px;
}
h2{
    text-align: center;
    background-color: aqua;
    border-radius: 10px;
}

.genre {
    background-color: black;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    
}

.genre-content {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.genre-text {
    flex: 1;
    padding-right: 20px;
}

.genre-image {
    max-width: 300px;
}

.genre-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
a {
    text-decoration: none;
}

